---
import BookCard from "../../../components/book-card.astro";
import LinkWithArrow from "../../../components/ui/link-with-arrow.astro";
import { type GetWorksByContributor } from "../../../utils/query/getWorksByContributor";

interface Props {
	data: GetWorksByContributor["getWorksByContributor"];
	author: {
		name: string;
		id: string;
	};
}

const { data, author } = Astro.props;

const workByTheAuthorData = data?.edges;
---

<div>
  <h3 class="text-xl mb-4">
    Other books by <a href={`/author/show/${author.id}`}>{author.name}</a>
  </h3>
  <div class="grid grid-cols-3 sm:grid-cols-4 gap-4">
    {
      workByTheAuthorData.splice(0, 8).map((work) => {
        const {
          stats: { averageRating },
          bestBook: {
            title,
            imageUrl,
            webUrl,
            legacyId: bookId,
            primaryContributorEdge,
          },
        } = work.node;
        const { name: authorName, legacyId: authorId } =
          primaryContributorEdge.node;
        return (
          <BookCard
            class="[&:nth-child(4)]:hidden sm:[&:nth-child(4)]:block"
            payload={{
              authorId,
              authorName,
              averageRating,
              imageUrl,
              title,
              webUrl,
              bookId,
            }}
          />
        );
      })
    }
  </div>
  <LinkWithArrow url={`/author/show/${author.id}`}>
    All books by this author
  </LinkWithArrow>
</div>
