---
import BookCard from "../../../components/book-card.astro";
import Star from "../../../components/icons/star.astro";
import { extractIdFromUrl, extractSeriesId } from "../../../utils/goodreads";
import type { GetWorkForSeries } from "../../../utils/query/getWorksForSeries";

interface Props {
  data: GetWorkForSeries["getWorksForSeries"];
  series: {
    url: string;
    title: string;
  };
}

const { data, series } = Astro.props;

const seriesData = data?.edges;
---

<div>
  <div class="text-lg mb-4">
    {series.title} Series
  </div>
  <div class="grid grid-cols-4 gap-4">
    {
      seriesData.map((work) => {
        const {
          stats: { averageRating },
          bestBook: {
            title,
            imageUrl,
            webUrl,
            legacyId: bookId,
            primaryContributorEdge,
          },
        } = work.node;
        const seriesPlacement = work.seriesPlacement;
        const { name: authorName, legacyId: authorId } =
          primaryContributorEdge.node;
        return (
          <BookCard
            payload={{
              seriesPlacement,
              authorId,
              authorName,
              averageRating,
              imageUrl,
              title,
              webUrl,
              bookId,
            }}
          />
        );
      })
    }
  </div>
  <div>
    <a
      class="underline underline-offset-4"
      href={`/series/${extractSeriesId(series.url)}`}
    >
      All books in this series
    </a>
  </div>
</div>
