---
import BookCard from "../../../components/book-card.astro";
import LinkWithArrow from "../../../components/ui/link-with-arrow.astro";
import { type GetSimilarBooksSchema } from "../../../utils/query/getSimilarBook";

interface Props {
	bookId: string;
	data: GetSimilarBooksSchema["getSimilarBooks"];
}

const { data, bookId } = Astro.props;

const similarBookData = data?.edges;
---

<div>
  <h3 class="text-xl mb-4">Readers also enjoyed</h3>
  <div class="grid grid-cols-3 sm:grid-cols-4 gap-4">
    {
      similarBookData.map(({ node }) => {
        const { imageUrl, title, webUrl, legacyId: bookId } = node;
        const { name: authorName, legacyId: authorId } =
          node.primaryContributorEdge.node;
        const averageRating = node.work.stats.averageRating;
        return (
          <BookCard
            class="[&:nth-child(4)]:hidden sm:[&:nth-child(4)]:block"
            payload={{
              webUrl,
              bookId,
              authorId,
              authorName,
              averageRating,
              imageUrl,
              title,
            }}
          />
        );
      })
    }
  </div>
  <LinkWithArrow url={`/book/similar/${bookId}`}>
    All similar books
  </LinkWithArrow>
</div>
